# Java build files
*.class
*.jar
*.war
*.ear
*.iml

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


# Gatling reports
target/gatling/

# Logs
*.log

# IDE specific files
.idea/
*.iws
*.ipr
*.iml
*.project
*.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
